[submodule "source/AscendingSource.Server"]
	path = source/AscendingSource.Server
	url = https://github.com/XerShade/AscendingSource.Server.git
[submodule "source/AscendingSource.Client"]
	path = source/AscendingSource.Client
	url = https://github.com/XerShade/AscendingSource.Client.git
[submodule "source/AscendingSource.MapEditor"]
	path = source/AscendingSource.MapEditor
	url = https://github.com/XerShade/AscendingSource.MapEditor.git
[submodule "source/AscendingSource.Libraries"]
	path = source/AscendingSource.Libraries
	url = https://github.com/XerShade/AscendingSource.Libraries.git
[submodule "source/AscendingSource.Editors"]
	path = source/AscendingSource.Editors
	url = https://github.com/XerShade/AscendingSource.Editors.git
[submodule "source/source/AscendingSource.Editors"]
	path = source/source/AscendingSource.Editors
	url = https://github.com/XerShade/AscendingSource.Editors.git
